body {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #999da1;
}

a {
    color: white;
}

input,
select {
    width: 200px;
}

table.bordered-table th, td {
    border: 1px solid silver; 
    padding: 4px;
}

table.bordered-table {
    border-collapse: collapse;
}

table.table-hover tr {cursor: pointer;}

.panel-title a {display: block; width: 100%; cursor: pointer;}

.formContainer {
    width: 500px;
    display: flex;
    padding-bottom: 15px;
}

.formCol {
    width: 300px;
}